body{
    background-image:url("vecteezy_3.jpg");
    background-size: cover
}


.header{
    font-size: 30px;
    color: white;
    text-align: center;
    
}
#navbar {
    text-decoration: none;
    font-size: 30px;
    display:flex;
    justify-content: space-evenly;
    align-items:center
}

#navbar a{
    color: white;
}

#navbar a:hover{
    color:blue
}

div.gallery {
    margin: 30px;
    border: 1px solid #ccc;
    width: 500px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
